.mineField {
  user-select: none;

  tr {
    min-height: 1rem;
  }

  td {
    cursor: default;
    text-align: center;
    font-weight: 600;
    font-size: var(--font-size);
    min-width: var(--cell-size);
    min-height: var(--cell-size);
    max-width: var(--cell-size);
    max-height: var(--cell-size);
    width: var(--cell-size);
    height: var(--cell-size);
    box-shadow: inset -0.2vh -0.2vh 0 0 #333, inset 0 0 0 0.2vh #FFF;
    background: #BDBDBD;

    &.visible {
      background: #939393;
      box-shadow: inset -0.2vh -0.2vh 0 0 #7B7B7B
    }

    &:not(.visible,.empty):hover {
      background: #917777;
      box-shadow: inset -0.2vh -0.2vh 0 0 #333, inset 0 0 0 0.2vh #BC9E9E;
    }

    &.empty {
      background: #7B7B7B;
      box-shadow: inset -0.2vh -0.2vh 0 0 #666
    }
  }
}

@media (max-aspect-ratio: 1/2) {
  .mineField {
    td {
      --cell-size: 8vw;
      --font-size: 6vw;
    }
  }
}

@media (min-aspect-ratio: 1/2) {
  .mineField {
    td {
      --cell-size: 4vh;
      --font-size: 3vh;
    }
  }
}