.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .timer {
    display: inline-flex;
    gap: 1rem;
    font-size: 4vmin;
  }
}